<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dongzz.quick.generator.dao.GenConfigMapper">

    <!-- 查询表配置 -->
    <select id="selectByTableName" resultType="CodeGenConfig">
        select * from code_gen_config where `table_name` = #{tableName}
    </select>

</mapper>